.fixed-action-btn.direction-left ul {
  right: 50px;
}
.fixed-action-btn.direction-right ul {
  right: 50px;
}
.fixed-action-btn .btn-floating.btn-small {
  line-height: 29.4px;
}

/*# sourceMappingURL=actionStyles.css.map */
