$textColor: #7e827e;

.breadcrumbs {
  margin: 0 0 5px 0;
  padding:0;

  .breadcrumb{
    color: $textColor;
    font-size: 13px;
    vertical-align: middle;

    i{
      color: $textColor;
      vertical-align: middle;
      font-size: 16px;
      margin-top: 4px;
    }
  }

  .breadcrumb:before {
    color: $textColor;
    font-size: 16px;
  }

}
