.breadcrumbs {
  margin: 0 0 5px 0;
  padding: 0;
}
.breadcrumbs .breadcrumb {
  color: #7e827e;
  font-size: 13px;
  vertical-align: middle;
}
.breadcrumbs .breadcrumb i {
  color: #7e827e;
  vertical-align: middle;
  font-size: 16px;
  margin-top: 4px;
}
.breadcrumbs .breadcrumb:before {
  color: #7e827e;
  font-size: 16px;
}

/*# sourceMappingURL=actionStyles.css.map */
